<div class="modal-header">
  <h3 class="modal-title">NPC Flag</h3>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-xs-6">
      <label class="checkbox">
        <input type="checkbox" class="input-xs" ng-model="values[0]">
        <small>0 Gossip</small>
      </label>
      <label class="checkbox">
        <input type="checkbox" class="input-xs" ng-model="values[1]">
        <small>1 Donneur de quetes</small>
      </label>
      <label class="checkbox">
        <input type="checkbox" class="input-xs" ng-model="values[2]">
        <small>2 UNK1	</small>
      </label>
      <label class="checkbox">
        <input type="checkbox" class="input-xs" ng-model="values[3]">
        <small>3 UNK2</small>
      </label>
      <label class="checkbox">
        <input type="checkbox" class="input-xs" ng-model="values[4]">
        <small>4 Entraineur</small>
      </label>
      <label class="checkbox">
        <input type="checkbox" class="input-xs" ng-model="values[5]">
        <small>5 Entraineur de Classes </small>
      </label>
      <label class="checkbox">
        <input type="checkbox" class="input-xs" ng-model="values[6]">
        <small>6 Entraineur de Profession</small>
      </label>
      <label class="checkbox">
        <input type="checkbox" class="input-xs" ng-model="values[7]">
        <small>7 Vendeur</small>
      </label>
      <label class="checkbox">
        <input type="checkbox" class="input-xs" ng-model="values[8]">
        <small>8 Vendeur d'arme</small>
      </label>
      <label class="checkbox">
        <input type="checkbox" class="input-xs" ng-model="values[9]">
        <small>9 Vendeur de Nourritures</small>
      </label>
      <label class="checkbox">
        <input type="checkbox" class="input-xs" ng-model="values[10]">
        <small>10 Vendeur de Poison</small>
      </label>
      <label class="checkbox">
        <input type="checkbox" class="input-xs" ng-model="values[11]">
        <small>11 Vendeur de Reactif</small>
      </label>
      <label class="checkbox">
        <input type="checkbox" class="input-xs" ng-model="values[12]">
        <small>12 Reparateur</small>
      </label>
      <label class="checkbox">
        <input type="checkbox" class="input-xs" ng-model="values[13]">
        <small>13 Trajets Aeriens</small>
      </label>
      <label class="checkbox">
        <input type="checkbox" class="input-xs" ng-model="values[14]">
        <small>14 Gardien des ames</small>
      </label>
      <label class="checkbox">
        <input type="checkbox" class="input-xs" ng-model="values[15]">
        <small>15 Guide spirituel</small>
      </label>
      <label class="checkbox">
        <input type="checkbox" class="input-xs" ng-model="values[16]">
        <small>16 Nouveau Foyer</small>
      </label>
      <label class="checkbox">
        <input type="checkbox" class="input-xs" ng-model="values[17]">
        <small>17 Banque</small>
      </label>
      <label class="checkbox">
        <input type="checkbox" class="input-xs" ng-model="values[18]">
        <small>18 Creation de Guilde</small>
      </label>
      
    </div>
    <div class="col-xs-6">
    	
      <label class="checkbox">
        <input type="checkbox" class="input-xs" ng-model="values[19]">
        <small>19 Creation de Tabard</small>
      </label>
      <label class="checkbox">
        <input type="checkbox" class="input-xs" ng-model="values[20]">
        <small>20 Maitre de Guerre</small>
      </label>
      <label class="checkbox">
        <input type="checkbox" class="input-xs" ng-model="values[21]">
        <small>21 Hotel des ventes</small>
      </label>
      <label class="checkbox">
        <input type="checkbox" class="input-xs" ng-model="values[22]">
        <small>22 Ecurie</small>
      </label>
      <label class="checkbox">
        <input type="checkbox" class="input-xs" ng-model="values[23]">
        <small>23 Banque de Guilde</small>
      </label>
      <label class="checkbox">
        <input type="checkbox" class="input-xs" ng-model="values[24]">
        <small>24 Spellclick</small>
      </label>
      <label class="checkbox">
        <input type="checkbox" class="input-xs" ng-model="values[25]">
        <small>25 PLAYER_VEHICLE</small>
      </label>
      <label class="checkbox">
        <input type="checkbox" class="input-xs" ng-model="values[26]">
        <small>26 Boite aux Lettres (GUARD?)</small>
      </label>
      <label class="checkbox">
        <input type="checkbox" class="input-xs" ng-model="values[27]">
        <small>27 UNK4 (OUTDOORPVP?)</small>
      </label>
       <label class="checkbox">
        <input type="checkbox" class="input-xs" ng-model="values[28]">
        <small>28 REFORGER </small>
      </label>
       <label class="checkbox">
        <input type="checkbox" class="input-xs" ng-model="values[29]">
        <small>29 Transmogrifier </small>
      </label>
            <label class="checkbox">
        <input type="checkbox" class="input-xs" ng-model="values[30]">
        <small>30 Chambre du vide </small>
      </label>      
      <label class="checkbox">
        <input type="checkbox" class="input-xs" ng-model="values[31]">
        <small>31 Marcher noir </small>
      </label>
      <label class="checkbox">
        <input type="checkbox" class="input-xs" ng-model="values[32]">
        <small>32 ITEM_UPGRADE_MASTER </small>
      </label>
      <label class="checkbox">
        <input type="checkbox" class="input-xs" ng-model="values[33]">
        <small>33 GARRISON_ARCHITECT </small>
      </label>
      <label class="checkbox">
        <input type="checkbox" class="input-xs" ng-model="values[34]">
        <small>34 SHIPMENT_CRAFTER </small>
      </label>
      <label class="checkbox">
        <input type="checkbox" class="input-xs" ng-model="values[35]">
        <small>35 GARRISON_MISSION_NPC </small>
      </label>
      <label class="checkbox">
        <input type="checkbox" class="input-xs" ng-model="values[36]">
        <small>36 TRADESKILL_NPC  </small>
      </label>
      <label class="checkbox">
        <input type="checkbox" class="input-xs" ng-model="values[37]">
        <small>37 BLACK_MARKET_VIEW </small>
      </label>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" ng-click="modalOk()">OK</button>
  <button class="btn btn-danger" ng-click="modalCancel()">Cancel</button>
</div>
