<div class="modal-header">
  <h3 class="modal-title">Type Flags</h3>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-xs-5">
      <label class="checkbox">
        <input type="checkbox" class="input-xs" ng-model="values[0]">
        <small>0 Apprivoisable</small>
      </label>
      <label class="checkbox">
        <input type="checkbox" class="input-xs" ng-model="values[1]">
        <small>1 Fantome</small>
      </label>
      <label class="checkbox">
        <input type="checkbox" class="input-xs" ng-model="values[2]">
        <small>2 Level non visible (BOSS)" </small>
      </label>
      <label class="checkbox">
        <input type="checkbox" class="input-xs" ng-model="values[3]">
        <small>3 Parer : pas danim</small>
      </label>
      <label class="checkbox">
        <input type="checkbox" class="input-xs" ng-model="values[4]">
        <small>4 Cacher info de faction</small>
      </label>
      <label class="checkbox">
        <input type="checkbox" class="input-xs" ng-model="values[5]">
        <small>5 UNK6</small>
      </label>
      <label class="checkbox">
        <input type="checkbox" class="input-xs" ng-model="values[6]">
        <small>6 Spell attackable</small>
      </label>
      <label class="checkbox">
        <input type="checkbox" class="input-xs" ng-model="values[7]">
        <small>7 DEAD_INTERACT</small>
      </label>
      <label class="checkbox">
        <input type="checkbox" class="input-xs" ng-model="values[8]">
        <small>8 HERBALISM</small>
      </label>
      <label class="checkbox">
        <input type="checkbox" class="input-xs" ng-model="values[9]">
        <small>9 MINING</small>
      </label>
      <label class="checkbox">
        <input type="checkbox" class="input-xs" ng-model="values[10]">
        <small>10 Does not combatlog death</small>
      </label>
      <label class="checkbox">
        <input type="checkbox" class="input-xs" ng-model="values[11]">
        <small>11 Combat sur monture</small>
      </label>
      <label class="checkbox">
        <input type="checkbox" class="input-xs" ng-model="values[12]">
        <small>12 Aide Joueur</small>
      </label>
      <label class="checkbox">
        <input type="checkbox" class="input-xs" ng-model="values[13]">
        <small>13 Afficher barre des Pets</small>
      </label>
      <label class="checkbox">
        <input type="checkbox" class="input-xs" ng-model="values[14]">
        <small>14 TYPEFLAGS_MASK_UID</small>
      </label>
      <label class="checkbox">
        <input type="checkbox" class="input-xs" ng-model="values[15]">
        <small>15 ENGINEERLOOT</small>
      </label>
    </div>
    <div class="col-xs-7">
      <label class="checkbox" >
        <input type="checkbox" class="input-xs" ng-model="values[16]">
        <small>16 EXOTIQUE</small>
      </label>
      <label class="checkbox">
        <input type="checkbox" class="input-xs" ng-model="values[17]">
        <small>17 USE_DEFAULT_COLLISION_BOX</small>
      </label>
      <label class="checkbox">
        <input type="checkbox" class="input-xs" ng-model="values[18]">
        <small>18 Is siege weapon</small>
      </label>
      <label class="checkbox">
        <input type="checkbox" class="input-xs" ng-model="values[19]">
        <small>19 Projectiles peuvent entrer en collision PNJ</small>
      </label>
      <label class="checkbox">
        <input type="checkbox" class="input-xs" ng-model="values[20]">
        <small>20 Cacher le nom</small>
      </label>
      <label class="checkbox">
        <input type="checkbox" class="input-xs" ng-model="values[21]">
        <small>21 Does not play mounted animations.</small>
      </label>
      <label class="checkbox">
        <input type="checkbox" class="input-xs" ng-model="values[22]">
        <small>22 TYPEFLAGS_IS_LINK_ALL</small>
      </label>
      <label class="checkbox">
        <input type="checkbox" class="input-xs" ng-model="values[23]">
        <small>23 ECUYER</small>
      </label>
      <label class="checkbox">
        <input type="checkbox" class="input-xs" ng-model="values[24]">
        <small>24 DO_NOT_PLAY_UNIT_EVENT_SOUNDS</small>
      </label>
      <label class="checkbox">
        <input type="checkbox" class="input-xs" ng-model="values[25]">
        <small>25 HAS_NO_SHADOW_BLOB </small>
      </label>
      <label class="checkbox">
        <input type="checkbox" class="input-xs" ng-model="values[26]">
        <small>26 TREAT_AS_RAID_UNIT</small>
      </label>
      <label class="checkbox">
        <input type="checkbox" class="input-xs" ng-model="values[27]">
        <small>27 FORCE_GOSSIP</small>
      </label>
      <label class="checkbox">
        <input type="checkbox" class="input-xs" ng-model="values[28]">
        <small>28 DO_NOT_SHEATHE</small>
      </label>
      <label class="checkbox">
        <input type="checkbox" class="input-xs" ng-model="values[29]">
        <small>29 DO_NOT_TARGET_ON_INTERACTION</small>
      </label>
      <label class="checkbox">
        <input type="checkbox" class="input-xs" ng-model="values[30]">
        <small>30 DU_NOT_RENDER_OBJECT_NAME</small>
      </label>
      <label class="checkbox">
        <input type="checkbox" class="input-xs" ng-model="values[31]">
        <small>31 QUEST_BOSS</small>
      </label>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" ng-click="modalOk()">OK</button>
  <button class="btn btn-danger" ng-click="modalCancel()">Cancel</button>
</div>
