<div class="modal-header">
  <h3 class="modal-title">Type Flags2</h3>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-xs-9">
      <label class="checkbox">
        <input type="checkbox" class="input-xs" ng-model="values[0]">
        <small>0 CREATURE_TYPEFLAGS_2_UNK1 = 0x00000001</small>
      </label>
      <label class="checkbox">
        <input type="checkbox" class="input-xs" ng-model="values[1]">
        <small>1 CREATURE_TYPEFLAGS_2_UNK2 = 0x00000002</small>
      </label>
      <label class="checkbox">
        <input type="checkbox" class="input-xs" ng-model="values[2]">
        <small>2 CREATURE_TYPEFLAGS_2_UNK3 = 0x00000004</small>
      </label>
      <label class="checkbox">
        <input type="checkbox" class="input-xs" ng-model="values[3]">
        <small>3 CREATURE_TYPEFLAGS_2_UNK4 = 0x00000008</small>
      </label>
      <label class="checkbox">
        <input type="checkbox" class="input-xs" ng-model="values[4]">
        <small>4 CREATURE_TYPEFLAGS_2_UNK5 = 0x00000010</small>
      </label>
      <label class="checkbox">
        <input type="checkbox" class="input-xs" ng-model="values[5]">
        <small>5 CREATURE_TYPEFLAGS_2_UNK6 = 0x00000020</small>
      </label>
      <label class="checkbox">
        <input type="checkbox" class="input-xs" ng-model="values[6]">
        <small>6 CREATURE_TYPEFLAGS_2_UNK7 = 0x00000040</small>
      </label>
      <label class="checkbox">
        <input type="checkbox" class="input-xs" ng-model="values[7]">
        <small>7 CREATURE_TYPEFLAGS_2_UNK8 = 0x00000080</small>
      </label>
    </div>

  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" ng-click="modalOk()">OK</button>
  <button class="btn btn-danger" ng-click="modalCancel()">Cancel</button>
</div>
