<div class="modal-header">
  <h3 class="modal-title">unit_flags</h3>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-xs-6">
      <label class="checkbox">
        <input type="checkbox" class="input-xs" ng-model="values[0]">
        <small>0 Controle par le serveur	</small>
      </label>
      <label class="checkbox">
        <input type="checkbox" class="input-xs" ng-model="values[1]">
        <small>1 Non attaquable</small>
      </label>
      <label class="checkbox">
        <input type="checkbox" class="input-xs" ng-model="values[2]">
        <small>2 pas de mouvement</small>
      </label>
      <label class="checkbox">
        <input type="checkbox" class="input-xs" ng-model="values[3]">
        <small>3 PVP attaquable</small>
      </label>
      <label class="checkbox">
        <input type="checkbox" class="input-xs" ng-model="values[4]">
        <small>4 Renommer</small>
      </label>
      <label class="checkbox">
        <input type="checkbox" class="input-xs" ng-model="values[5]">
        <small>5 Preparation</small>
      </label>
      <label class="checkbox">
        <input type="checkbox" class="input-xs" ng-model="values[6]">
        <small>6 Necessaire pour non triggered dans smart_scripts ?! (UNK_6)</small>
      </label>
      <label class="checkbox">
        <input type="checkbox" class="input-xs" ng-model="values[7]">
        <small>7 Non attaquable 1</small>
      </label>
      <label class="checkbox">
        <input type="checkbox" class="input-xs" ng-model="values[8]">
        <small>8 Desactive interaction & aide combat JOUEUR</small>
      </label>
      <label class="checkbox">
        <input type="checkbox" class="input-xs" ng-model="values[9]">
        <small>9 Desactive interaction & aide combat NPC</small>
      </label>
      <label class="checkbox">
        <input type="checkbox" class="input-xs" ng-model="values[10]">
        <small>10 LOOTING</small>
      </label>
      <label class="checkbox">
        <input type="checkbox" class="input-xs" ng-model="values[11]">
        <small>11 PET en combat</small>
      </label>
      <label class="checkbox">
        <input type="checkbox" class="input-xs" ng-model="values[12]">
        <small>12 PVP</small>
      </label>
      <label class="checkbox">
        <input type="checkbox" class="input-xs" ng-model="values[13]">
        <small>13 Silencieux</small>
      </label>
      <label class="checkbox">
        <input type="checkbox" class="input-xs" ng-model="values[14]">
        <small>Ne peut pas nager (UNK_14)</small>
      </label>
      <label class="checkbox">
        <input type="checkbox" class="input-xs" ng-model="values[15]">
        <small>Nager (UNK_15)</small>
      </label>
    </div>
    <div class="col-xs-6">
      <label class="checkbox" >
        <input type="checkbox" class="input-xs" ng-model="values[16]">
        <small>Pas d'attaque 2 (UNK_16)</small>
      </label>
      <label class="checkbox">
        <input type="checkbox" class="input-xs" ng-model="values[17]">
        <small>17 Pacifique</small>
      </label>
      <label class="checkbox">
        <input type="checkbox" class="input-xs" ng-model="values[18]">
        <small>18 Etourdi</small>
      </label>
      <label class="checkbox">
        <input type="checkbox" class="input-xs" ng-model="values[19]">
        <small>19 en combat</small>
      </label>
      <label class="checkbox">
        <input type="checkbox" class="input-xs" ng-model="values[20]">
        <small>20 TAXI_FLIGHT</small>
      </label>
      <label class="checkbox">
        <input type="checkbox" class="input-xs" ng-model="values[21]">
        <small>21 Desarme</small>
      </label>
      <label class="checkbox">
        <input type="checkbox" class="input-xs" ng-model="values[22]">
        <small>22 Confus</small>
      </label>
      <label class="checkbox">
        <input type="checkbox" class="input-xs" ng-model="values[23]">
        <small>23 Fuite</small>
      </label>
      <label class="checkbox">
        <input type="checkbox" class="input-xs" ng-model="values[24]">
        <small>24 Control par Joueur (Yeux de la bete/vehicule)</small>
      </label>
      <label class="checkbox">
        <input type="checkbox" class="input-xs" ng-model="values[25]">
        <small>25 Non selectionnable</small>
      </label>
      <label class="checkbox">
        <input type="checkbox" class="input-xs" ng-model="values[26]">
        <small>26 Depecable</small>
      </label>
      <label class="checkbox">
        <input type="checkbox" class="input-xs" ng-model="values[27]">
        <small>27 Sur monture</small>
      </label>
      <label class="checkbox">
        <input type="checkbox" class="input-xs" ng-model="values[28]">
        <small>Ne sagenouille pas pour loot (UNK_28)</small>
      </label>
      <label class="checkbox">
        <input type="checkbox" class="input-xs" ng-model="values[29]">
        <small>Feindre la mort (Visuel et PV)</small>
      </label>
      <label class="checkbox">
        <input type="checkbox" class="input-xs" ng-model="values[30]">
        <small>30 Arme rangee</small>
      </label>
      <label class="checkbox">
        <input type="checkbox" class="input-xs" ng-model="values[31]">
        <small>31 UNK_31</small>
      </label>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" ng-click="modalOk()">OK</button>
  <button class="btn btn-danger" ng-click="modalCancel()">Cancel</button>
</div>
